.navigation {
    background-color: $colorSilverChalice;
    font-family: $fontRoboto;
    font-size: $fontSizeMenu;
    overflow-x: hidden;
    & a {
        color: $colorWhite;
    }
    & .active a {
        color: $colorBloodRed !important;
    }
}