.navigation {
    background-color: $colorBlack;
    font-family: $fontRoboto;
    font-size: $fontSizeMenu;
    & a {
        color: $colorWhite;
    }
    & .active a {
        color: $colorYellow;
    }
}

.navbar-brand img {
    height: 60px;
}

.navbar {
    padding-bottom: 0px;
    padding-top: 0px;
}