.page-title {
    position: relative;
    padding-top: 100px;
    border-bottom-width: 0px;
    background-color: $colorBlack;
    color: $colorWhite;
}

.page-title-conteiner {
    background-color: $colorBlack;
    width: 90%;
    //background-color: $colorGris;
    margin: 2rem auto;
}

.breadcrumb {
    background-color: $colorCornsilk;
}