// colors
$colorBlack: #000000;
$colorOrange: #c2270d;
$colorRed: #c22c28;
$colorYellow: #efb810;
$colorWhite: #FFFFFF;
$colorGris: #696969;
$colorCornsilk:#fff8dc;
$colorGrren: #04AA6D;
$colorMarron: #7e0000;
// Fonts
$fontRoboto: 'Roboto',
sans-serif;
// Fonts size
$fontSizeMenu: 18px;
$fontSizeFooter: 14px;