// colors
$colorRichBlackFOGRA39: #0B090A;
$colorEerieBlack: #161A1D;
$colorBloodRed: #660708;
$colorRubyRed: #A4161A;
$colorCarnelian: #BA181B;
$colorImperialRed: #E5383B;
$colorSilverChalice: #B1A7A6;
$colorLightGray: #D3D3D3;
$colorCultured: #F5F3F4;
$colorWhite: #FFFFFF;
// Fonts
$fontRoboto: 'Roboto',
sans-serif;
// Fonts size
$fontSizeMenu: 18px;
$fontSizeFooter: 14px;